---
layout: default
title: Crazy Phage
---
<div id="bl-main" class="bl-main">

    <section>
        <div class="bl-box">
            <h2 class="bl-icon bl-icon-about">About Me</h2>
        </div>
        <div class="bl-content">
           <div class="container">
                <div id="slideshow" class="slideshow">
                <ul>
                    <li>
                        <div class="slide">
                            <img class="icon" src="images/icons/browser.svg" alt="Browser Icon"/>
                            <h1>关于我</h1>
                            <p>思想为核，技术为骨，审美为血。以超时间线的混合动力，在互联网这片土壤率性生长。</p>
                        </div>
                    </li>
                    <li>
                        <div class="slide">
                            <img class="icon" src="images/icons/heart.svg" alt="Heart Icon"/>
                            <blockquote>
                                <p>励志成为一个终生学习的创新实践产出者。</p>
                            </blockquote>
                            <p>King Lyn</p>
                        </div>
                    </li>
                    <li>
                        <div class="slide">
                            <img class="icon" src="images/icons/letter.svg" alt="Letter Icon"/>
                            <p>
                                <blockquote>
                                    PHP | Memcached | WebService | NodeJs | 网站架构 | etc.
                                </blockquote>
                            </p>
                            <p>以上</p>
                        </div>
                    </li>
                    <li>
                        <div class="slide">
                            <img class="icon" src="images/icons/match.svg" alt="Match Icon"/>
                            <blockquote>
                                <p>思考 | 运动 | 纪录片 | 弹钢琴 | 设计 | 学习</blockquote>
                            <p>爱好其实还是挺多的嘛</p>
                        </div>
                    </li>
                    <li>
                        <div class="slide">
                            <img class="icon" src="images/icons/watch.svg" alt="Watch Icon"/>
                            <blockquote>
                                <!--<p>2010-2014 </p>-->
                                <p>
                                <i class="fa fa-university"></i> 
                                湘潭大学
                                </p>
                                <p><i class="fa fa-graduation-cap"></i> 计算机科学与技术</p>
                            </blockquote>
                            <p>目前就职于<i class="fa fa-briefcase"></i> 
                            	——
<i class="fa fa-laptop"></i> PHP开发工程师</p>
                        </div>
                    </li>
                    <li>
                        <div class="slide">
                        <img class="icon" src="images/icons/watch.svg" alt="Watch Icon"/>
                            <blockquote>
                                {% include copy.html %}
                            </blockquote>
                        </div>
                    </li>
                </ul>
            </div>
           </div>
        </div>
        <span class="bl-icon bl-icon-close"></span>
    </section>

    <section id="bl-work-section">
        <div class="bl-box">
            <h2 class="bl-icon bl-icon-works">Works</h2>
        </div>
        <div class="bl-content">
            <h2>我的东西</h2>
            <h3>一些照片，一些图片,一些东西</h3>
            <ul id="bl-work-items">
                {% for work in site.categories.gallery %}
                <li data-panel="panel-{{ work.description}}"><a href="#"><img src="images/{{work.description}}.png" /></a></li>
                {% endfor %}
            </ul>
            <p>Cook by <a href="http://www.kinglyn.com">King Lyn</a></p>
        </div>
        <span class="bl-icon bl-icon-close"></span>
    </section>

    <section>
        <div class="bl-box">
            <h2 class="bl-icon bl-icon-blog"><a href="http://blog.kinglyn.com">Blog</a></h2>
        </div>
    </section>

    <section>
        <div class="bl-box">
            <h2 class="bl-icon bl-icon-contact">Contact</h2>
        </div>

        <div class="bl-content">
            <h2>与我联系</h2>
            <div class="links pure-g">
                <div class="pure-u-1-2"><p> <a target="_blank" href="http://www.kinglyn.com/feed.xml"><i class="fa fa-rss"></i></a></p></div>
                <div class="pure-u-1-2"> <p> <a target="_blank" href="mailto:linjingchn@foxmail.com"><i class="fa fa-envelope"></i></a></p></div>
                <div class="pure-u-1-2"> <p><a target="_blank" href="https://github.com/jingzihub"><i class="fa fa-github-alt"></i></a></p></div>

                <div class="pure-u-1">
                    <h6>粤ICP备15031331号-1</h6>
                </div>
            </div>
        </div>
        <span class="bl-icon bl-icon-close"></span>
    </section>

    <!-- Panel items for the works -->
    <div class="bl-panel-items" id="bl-panel-work-items">
        {% for work in site.categories.gallery %}
        <div data-panel="panel-{{ work.description}}">
            <div>
                <img src="images/{{ work.description}}.jpg" />
                <h3>{{work.title}}</h3>
                {{work.content}}
            </div>
        </div>
        {% endfor %}
        <nav>
            <span class="bl-next-work">&gt; Next Project</span>
            <span class="bl-icon bl-icon-close"></span>
        </nav>

    </div>
</div>
